{% extends 'base.html' %}

{% block title %}Interface de gestion{% endblock %}

{% block content %}
<a class="btn btn-primary mr-2 mb-2" href="{{ url_for('http_start_slideshow') }}"><i class="bi bi-play-circle-fill"></i> Démarrer le diaporama</a>
<a class="btn btn-primary mr-2 mb-2" href="{{ url_for('http_stop_slideshow') }}"><i class="bi bi-stop-circle-fill"></i> Arrêter le diaporama</a>
<a class="btn btn-primary mr-2 mb-2" href="{{ url_for('http_display_one_photo', filename='p1.jpg') }}"><i class="bi bi-image"></i> Afficher une photo</a>
{% endblock %}